{{ $imgs := .Page.Resources.ByType "image" }}
{{ if .Get "dir"}}
	{{ $imgs = .Page.Resources.Match (.Get "dir") }}
{{ end }}

{{ $icon := resources.Get "svg/simple-slideshow-arrow.svg" }}

{{ $sortOrder := .Get "sortOrder" | default "asc" }}
{{ $topSlideBar := .Get "topSlideBar" | default true }}
{{ $scrollIntoView := .Get "scrollIntoView" | default true }}
{{ $maxThumbnailHeight := .Get "maxThumbnailHeight" | default 150 }}

{{ with $imgs }}
<style>
    .simple-slideshow-slides {
        margin-bottom: 5px;
        overflow-x: scroll;
        white-space: nowrap;

        /* works by rotating the container... */
        {{ if $topSlideBar }} 
        transform: rotateX(180deg);
        {{ end }}
    }
    .simple-slideshow-slide {
        transition: opacity .3s ease-out;

        /* ...and the imgs */
        {{ if $topSlideBar }}
        transform: rotateX(180deg);
        {{ end }}
    }

    .simple-slideshow-slide:hover {
        cursor: pointer;
        opacity: .5;
    }

    .simple-slideshow-imgs-container {
        position: relative;
    }

    .simple-slideshow-arrow {
        background-color: #fff;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 50px;
        height: 50px;
    }

    .simple-slideshow-arrow:hover {
        cursor: pointer;
    }

    .right-arrow {
        transform: translateY(-50%) rotateZ(180deg);
        right: 0;
    }
</style>

<div class="simple-slideshow-container">
    <div class="simple-slideshow-slides">
        {{ range $index, $img := sort . "Title" $sortOrder }}
            {{ $thumbnail := $img.Fit (print 9999 "x" $maxThumbnailHeight) }}
            <img class="simple-slideshow-slide" src="{{ $thumbnail.RelPermalink }}" width="{{ $thumbnail.Width }}" height="{{ $thumbnail.Height }}" onclick="showSlide({{$index}})">
        {{ end }}
    </div>
    <div class="simple-slideshow-imgs">
        <div class="simple-slideshow-imgs-container">
            <img src="{{ $icon.RelPermalink }}" class="simple-slideshow-arrow" onclick="showPrevious()"/>
            <img src="{{ $icon.RelPermalink }}" class="simple-slideshow-arrow right-arrow" onclick="showNext()"/>
            {{ range $img := . }}
            <img src="{{ $img.RelPermalink }}" style="width: 100%; display: none; aspect-ratio: {{ $img.Width }} / {{ $img.Height }};" class="simple-slideshow-img" loading="lazy">
            {{ end }}
            </div>
    </div>
</div>

<script>
    const imgs = Array.from(document.getElementsByClassName("simple-slideshow-img"))
        .sort((a,b) => {{ $sortOrder }} === 'asc' ? a.src > b.src : a.src < b.src);
    let curIndex = 0;

    imgs[0].style.display = "block";

    function showPrevious() {
        showSlide(curIndex-1);
    }

    function showNext() {
        showSlide(curIndex+1);
    }

    function showSlide(n) {

        if (n < 0 || n > imgs.length-1)
            return;

        imgs[curIndex].style.display = "none";
        imgs[n].style.display = "block";
        curIndex = n;

        {{ if $scrollIntoView }}
        setTimeout( // eliminates the time between waiting for img and scrolling.
            () => imgs[curIndex].scrollIntoView({ behavior: "smooth", block: "center" }),
            150);
        {{ end }}
    }
</script>
{{ end }}